html {
    min-height: 100vh;
    scroll-snap-type: y mandatory;
}

body {
    min-height: 100vh;
    background: var(--color-dark);
}

.section {
    min-height: calc(100vh - 2*var(--space-lg));
    padding: var(--space-lg) 0;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;

    @media(min-width: 1920px) {
        min-height: calc(100vh - 2*var(--space-xl));
        padding: var(--space-xl) 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.title-container {
    margin-bottom: var(--space-md);
    display: flex;
}

.title-container  h1 {
    width: 100%;
}

.section-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-fullheight {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-fullheight .section-center > .container {
    height: 100%;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.btn-backContainer {
    width: 0;
    opacity: 0;        
    /* margin-right: -100%; */
}

.btn-backContainer:hover {
   cursor: pointer;
}

.btn-back {
    background: transparent;
    border: 0;
    max-width: 30px;
    overflow: hidden;
    pointer-events: none;
}



#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#loading-screen {
    display: flex !important;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
    color: white;
    justify-content: center;
    align-items: center;    
    pointer-events: none;
    transition: all 1s;
}

.loading-screenContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-screenContent .icon {
    animation: laoding 3s linear infinite;
}

@keyframes laoding {
    0% {
        transform: scale(1) rotateY(0deg);
    }
    50% {
        transform: scale(.8) rotateY(180deg);
    }
    100% {
        transform: scale(1) rotateY(360deg);
    }
}

.animation-disabled, .animation-disabled * {
    pointer-events: none;
    background: rgba(100, 100, 100, .5)
}