.icon {
    width: 64px;
    height: 64px;
    fill: var(--color-primary);
}

.icon-home {
    width: 600px;
    height: 600px;
    fill: var(--color-primary);

}

.icon svg {
    width: 100%;
    height: 100%;
}