/* The Modal (background) */
.modal {
    /* display: none; */
    pointer-events: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    opacity: 0;
    transition: all 0.3s ease;
}

.modal.active {
    display: flex;
    opacity: 1;
    pointer-events: initial;
    transition: all 0.3s ease;

}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;

    background-color: var(--color-dark);
    margin: 15% auto;
    padding:var(--space-md);    
    width: 65%;
    max-width: 750px;
    
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-btn {
    position: absolute;
    top: var(--space-xs);
    right: var(--space-xs);
    padding: calc(var(--space-xs) * 1.5) calc(var(--space-xs) * 1.5) 8px;

    display: flex;
    gap: var(--space-xs);

    color: var(--color-white);
    background: transparent;
    border: 1px solid var(--color-secondary);
    border-radius: 15px;
}

.modal-btn:hover {
    cursor: pointer;
}

.modal-close {
    align-self: flex-end;
    background: transparent;
    border: 2px solid var(--color-secondary);
    color: var(--color-white);
    border-radius: 15px;
}

.modal-close:hover {
    cursor: pointer;
}