.switch {
    position: relative;
    display: inline-block;
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
}

.switch::hover {
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input {
    position: absolute;
    width: 100%;
    height: 100%;
}

.switch input:hover {
    cursor: pointer;
}

.switch .on {
    margin-left: -5px;
}

input+.slider>.on, input+.slider>.off {
    background-color: -var(--color-dark);
    color: var(--color-primary);
    border-radius: 12px;    
    transition: all .3s;
}

input:not(:checked)+.slider>.off {
    background-color: var(--color-primary);
    color: var(--color-dark);
    transition: all .3s;
}

input:checked+.slider>.on {
    background-color: var(--color-primary);
    color: var(--color-dark);
    transition: all .3s;
}

.slider .on {
    float: right;
}

.slider .off {
    float: left;
}

.slider-button {
    padding: 10px 15px;
}



.title-container .switch {
    margin-left: var(--space-lg);
}